/* 2-Add a stylesheet to the index.html. Use the stylesheet to center the text of all section elements of the page.*/
.quotes{
	text-align: center;
}

.error{
	color: red;
}

.hightlight{
	background-color: #FFFF00
}